.swiper-container {
    height: 125px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #ddd;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
